python/config/FTP_Logs_Downloader_20250623_160815.json
{
  "name": "FTP Logs Downloader",
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "timezone": "UTC"
  },
  "nodes": [
    {
      "id": "uuid-1",
      "name": "Hourly Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour",
              "hour": 1
            }
          ]
        }
      }
    },
    {
      "id": "uuid-2",
      "name": "FTP List Files",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "ftp": "FTP Credentials"
      },
      "parameters": {
        "protocol": "ftp",
        "operation": "list",
        "path": "/usr/logs"
      }
    },
    {
      "id": "uuid-3",
      "name": "FTP Download File",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "ftp": "FTP Credentials"
      },
      "parameters": {
        "protocol": "ftp",
        "operation": "download",
        "path": "={{$json[\"path\"]}}"
      }
    },
    {
      "id": "uuid-4",
      "name": "Save File Locally",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "parameters": {
        "fileName": "={{$json[\"path\"]}}",
        "dataPropertyName": "data",
        "options": []
      }
    }
  ],
  "connections": {
    "Hourly Trigger": {
      "main": [
        [
          {
            "node": "FTP List Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP List Files": {
      "main": [
        [
          {
            "node": "FTP Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP Download File": {
      "main": [
        [
          {
            "node": "Save File Locally",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}