python/config/FTP_Logs_Downloader_20250623_155534.json
{
  "name": "FTP Logs Downloader",
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "timezone": "UTC"
  },
  "nodes": [
    {
      "id": "b3a1c8d2-4e5f-4a7b-9c3d-1e2f3a4b5c6d",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        }
      }
    },
    {
      "id": "a2b3c4d5-e6f7-4a8b-9c0d-1e2f3a4b5c6d",
      "name": "FTP List Files",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "parameters": {
        "protocol": "ftp",
        "operation": "list",
        "path": "/usr/logs",
        "options": []
      }
    },
    {
      "id": "c3d4e5f6-a7b8-4c9d-0e1f-2a3b4c5d6e7f",
      "name": "FTP Download File",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "parameters": {
        "protocol": "ftp",
        "operation": "download",
        "path": "={{$node[\"FTP List Files\"].json[\"path\"]}}",
        "options": []
      }
    },
    {
      "id": "d4e5f6a7-b8c9-4d0e-1f2a-3b4c5d6e7f8g",
      "name": "Save File Locally",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "parameters": {
        "fileName": "={{$node[\"FTP Download File\"].json[\"path\"]}}",
        "dataPropertyName": "data",
        "options": []
      }
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "FTP List Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP List Files": {
      "main": [
        [
          {
            "node": "FTP Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP Download File": {
      "main": [
        [
          {
            "node": "Save File Locally",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}