python/config/FTP_Log_File_Downloader_20250623_161102.json
{
  "name": "FTP Log File Downloader",
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "timezone": "UTC"
  },
  "nodes": [
    {
      "id": "b5a5e3a1-9c3d-4b5e-8c3d-1a9c3d4b5e8c",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyHour"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-e5f6-4a3b-8c9d-0e1f2a3b4c5d",
      "name": "List FTP Files",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "parameters": {
        "protocol": "ftp",
        "operation": "list",
        "path": "/usr/logs",
        "options": []
      },
      "credentials": {
        "ftp": "FTP Credentials"
      }
    },
    {
      "id": "c3d4e5f6-7a8b-4c3d-9e0f-1a2b3c4d5e6f",
      "name": "Check New Files",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "value1": "={{$json[\"items\"][0][\"json\"][\"length\"]}}",
              "operation": "notEmpty"
            }
          ]
        }
      }
    },
    {
      "id": "d4e5f6a7-8b9c-4d5e-9f0a-1b2c3d4e5f6a",
      "name": "Download File",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        850,
        200
      ],
      "parameters": {
        "protocol": "ftp",
        "operation": "download",
        "path": "={{$json[\"items\"][0][\"json\"][\"path\"]}}",
        "options": []
      },
      "credentials": {
        "ftp": "FTP Credentials"
      }
    },
    {
      "id": "e5f6a7b8-9c0d-4e5f-8a9b-0c1d2e3f4a5b",
      "name": "Save File Locally",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1050,
        200
      ],
      "parameters": {
        "fileName": "={{$json[\"items\"][0][\"json\"][\"path\"]}}",
        "dataPropertyName": "data",
        "options": []
      }
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "List FTP Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List FTP Files": {
      "main": [
        [
          {
            "node": "Check New Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check New Files": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Save File Locally",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}