python/config/FTP文件自动处理工作流_20250718_155900.json
{
  "name": "FTP文件自动处理工作流",
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "timezone": "UTC"
  },
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-g1h2-i3j4k5l6m7n8",
      "name": "FTP监听",
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "protocol": "ftp",
        "operation": "download",
        "path": "/uploads/",
        "options": {
          "binaryData": true,
          "recursive": false
        }
      },
      "credentials": {
        "ftp": "FTP连接凭证"
      }
    },
    {
      "id": "b2c3d4e5-f6g7-8901-h2i3-j4k5l6m7n8o9",
      "name": "文件处理",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "parameters": {
        "functionCode": "// 格式校验和重命名\nconst fileName = $input.item.json.fileName;\nconst fileData = $input.item.binary.data;\n\n// 简单的格式校验 - 检查文件大小\nif (fileData.length === 0) {\n  throw new Error('文件为空');\n}\n\n// 重命名文件 - 添加时间戳\nconst newFileName = `${Date.now()}_${fileName}`;\n\nreturn [{\n  json: {\n    originalName: fileName,\n    processedName: newFileName,\n    fileSize: fileData.length,\n    processedAt: new Date().toISOString()\n  },\n  binary: {\n    data: fileData\n  }\n}];"
      }
    },
    {
      "id": "c3d4e5f6-g7h8-9012-i3j4-k5l6m7n8o9p0",
      "name": "本地备份",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "parameters": {
        "fileName": "=/backups/{{$node[\"文件处理\"].json[\"processedName\"]}}",
        "dataPropertyName": "data",
        "options": []
      }
    },
    {
      "id": "d4e5f6g7-h8i9-0123-j4k5-l6m7n8o9p0q1",
      "name": "数据库记录",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        650,
        450
      ],
      "parameters": {
        "operation": "insert",
        "table": "file_archives",
        "columns": "original_name,processed_name,file_size,processed_at",
        "values": "={{[$node[\"文件处理\"].json[\"originalName\"], $node[\"文件处理\"].json[\"processedName\"], $node[\"文件处理\"].json[\"fileSize\"], $node[\"文件处理\"].json[\"processedAt\"]]}}"
      },
      "credentials": {
        "mySql": "MySQL连接凭证"
      }
    },
    {
      "id": "e5f6g7h8-i9j0-1234-k5l6-m7n8o9p0q1r2",
      "name": "邮件通知",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "parameters": {
        "to": "admin@example.com",
        "subject": "新文件已处理: {{$node[\"文件处理\"].json[\"originalName\"]}}",
        "text": "文件 {{$node[\"文件处理\"].json[\"originalName\"]}} 已成功处理并归档。\n\n新文件名: {{$node[\"文件处理\"].json[\"processedName\"]}}\n文件大小: {{$node[\"文件处理\"].json[\"fileSize\"]}} 字节\n处理时间: {{$node[\"文件处理\"].json[\"processedAt\"]}}"
      },
      "credentials": {
        "smtp": "SMTP连接凭证"
      }
    }
  ],
  "connections": {
    "FTP监听": {
      "main": [
        [
          {
            "node": "文件处理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "文件处理": {
      "main": [
        [
          {
            "node": "本地备份",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "数据库记录",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "本地备份": {
      "main": [
        [
          {
            "node": "邮件通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "数据库记录": {
      "main": [
        [
          {
            "node": "邮件通知",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  }
}