python/config/Random_JSON_to_File_Workflow_20250623_151227.json
{
  "name": "Random JSON to File Workflow",
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "timezone": "UTC"
  },
  "nodes": [
    {
      "id": "uuid-1",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        250,
        100
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyMinutes",
              "interval": 5
            }
          ]
        }
      }
    },
    {
      "id": "uuid-2",
      "name": "Generate Random JSON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        450,
        100
      ],
      "parameters": {
        "values": {
          "values": [
            {
              "name": "randomData",
              "value": "={{{\"timestamp\": new Date().toISOString(), \"value\": Math.random()}}}"
            }
          ]
        }
      }
    },
    {
      "id": "uuid-3",
      "name": "Convert to Stream",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        650,
        100
      ],
      "parameters": {
        "functionCode": "const jsonString = JSON.stringify($input.all()[0].json.randomData);\nconst buffer = Buffer.from(jsonString, 'utf8');\nreturn [{json: {}, binary: {data: buffer}}];"
      }
    },
    {
      "id": "uuid-4",
      "name": "Write to File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        850,
        100
      ],
      "parameters": {
        "fileName": "D:/random_data_{{Date.now()}}.json",
        "dataPropertyName": "data",
        "options": []
      }
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Generate Random JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Random JSON": {
      "main": [
        [
          {
            "node": "Convert to Stream",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Stream": {
      "main": [
        [
          {
            "node": "Write to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}