python/config/Random_JSON_to_File_Workflow_20250623_152101.json
{
  "name": "Random JSON to File Workflow",
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "timezone": "UTC"
  },
  "nodes": [
    {
      "id": "a1b2c3d4-e5f6-7890-g1h2-i3j4k5l6m7n8",
      "name": "Cron Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "interval": 5,
              "unit": "hours"
            }
          ]
        }
      }
    },
    {
      "id": "b2c3d4e5-f6g7-8901-h2i3-j4k5l6m7n8o9",
      "name": "Generate Random JSON",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "parameters": {
        "values": {
          "values": [
            {
              "name": "randomData",
              "value": "={{Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15)}}"
            },
            {
              "name": "timestamp",
              "value": "={{new Date().toISOString()}}"
            }
          ]
        }
      }
    },
    {
      "id": "c3d4e5f6-g7h8-9012-i3j4-k5l6m7n8o9p0",
      "name": "Convert to Stream",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "parameters": {
        "functionCode": "const jsonString = JSON.stringify($input.all()[0].json, null, 2);\nconst buffer = Buffer.from(jsonString, 'utf8');\nreturn [{ json: {}, binary: { data: buffer } }];"
      }
    },
    {
      "id": "d4e5f6g7-h8i9-0123-j4k5-l6m7n8o9p0q1",
      "name": "Write to File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "parameters": {
        "fileName": "D:/random_data.json",
        "dataPropertyName": "data",
        "options": []
      }
    }
  ],
  "connections": {
    "Cron Trigger": {
      "main": [
        [
          {
            "node": "Generate Random JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Random JSON": {
      "main": [
        [
          {
            "node": "Convert to Stream",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Stream": {
      "main": [
        [
          {
            "node": "Write to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}