python/config/定时获取诗词数据并保存_20250710_155855.json
{
  "name": "定时获取诗词数据并保存",
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "timezone": "UTC"
  },
  "nodes": [
    {
      "id": "b8a5a1f3-3c7d-4b2e-8f6a-9e3b1c0d4e5f",
      "name": "定时触发器",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyMinutes",
              "interval": 5
            }
          ]
        }
      }
    },
    {
      "id": "a2b3c4d5-e6f7-8g9h-0i1j-2k3l4m5n6o7p",
      "name": "获取诗词API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "parameters": {
        "requestMethod": "GET",
        "url": "https://v1.jinrishici.com/all.json",
        "responseFormat": "json"
      }
    },
    {
      "id": "c3d4e5f6-g7h8-9i0j-1k2l-3m4n5o6p7q8r",
      "name": "JSON转流",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "parameters": {
        "functionCode": "return [\n  {\n    json: $input.all()[0].json,\n    binary: {\n      data: Buffer.from(JSON.stringify($input.all()[0].json)).toString('base64')\n    }\n  }\n];"
      }
    },
    {
      "id": "d4e5f6g7-h8i9-0j1k-2l3m-4n5o6p7q8r9s",
      "name": "保存JSON文件",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        850,
        300
      ],
      "parameters": {
        "fileName": "=/诗词数据_{{ $now.format('YYYY-MM-DD_HH-mm-ss') }}.json",
        "dataPropertyName": "data",
        "options": []
      }
    }
  ],
  "connections": {
    "定时触发器": {
      "main": [
        [
          {
            "node": "获取诗词API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取诗词API": {
      "main": [
        [
          {
            "node": "JSON转流",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON转流": {
      "main": [
        [
          {
            "node": "保存JSON文件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}